@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wine-bar-red: #641320;
  --wine-bar-black: #010101;
  --wine-bar-white: #ffffff;
}

@theme {
  --font-satoshi: var(--font-satoshi);

  --color-wine-bar-red: var(--wine-bar-red);
  --color-wine-bar-black: var(--wine-bar-black);
  --color-wine-bar-white: var(--wine-bar-white);
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
