@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --wine-bar-red: #641320;
    --wine-bar-black: #010101;
    --wine-bar-white: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}